<%= simple_form_for [cocktail, dose] do |f| %>
<div class="row">
  <%= f.input :quantity, label: false, collection: %w[1 2 3 4 5 6 7 8], include_hidden: false %>
  <%= f.input :unit, label: false, collection: %w[spoons teaspoons cups liters milliliters], include_hidden: false %>
  <%= f.input :ingredient_id, label: false, collection: Ingredient.all, include_hidden: false%>
</div>
<%= f.submit "add an ingredient", class: "btn btn-success" %>
<% end %>
